# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/dist

# dependencies
/node_modules
/client/assets/bower_components

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# User-specific files
*.suo
*.user
*.sln.docstates

# Output and temporary files
*.bak
*.exe
*.lib
*.log
*.obj
*.pch
*.pdb
*.tlb
*.tmp

# ReSharper is a .NET coding add-in
_ReSharper*
*.[Rr]esharper

test/functional/Robot/TestResults/
*.pyc
